ul
{
list-style: none;
font-family: verdana;
letter-spacing: 4px;
font-size: 25px;
}

a{
  text-decoration: none;
  color: #008080;
}

footer h6{
  color: #008080;
  font-size: 15px;
  font-family: verdana;
}

footer h6 a{
  color: orange;
  font-size: 15px;
  font-family: verdana;
}
